- var isHome = !path;
- var isArticle = contains(collection, 'articles');
- var isWork = contains(collection, 'work');
- var isTalk = contains(collection, 'talks');
- var isCollection = isArticle || isWork || isTalk;
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      http-equiv="X-UA-Compatible"
      content="IE=edge")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0")
    meta(
      name="description"
      content=site.description)
    meta(
      name="author"
      content=site.author)
    - var pubdate = date || startDate;
    if pubdate
      meta(
        name="date"
        content=pubdate)
    - var titles = hide_title ? [site.author] : [title, site.author]
    - var pageTitle = titles.join(' &middot; ')
    title !{pageTitle}
    link(
      rel="shortcut icon"
      href="/favicon.ico"
      sizes="16x16 32x32")
    script
      include:js ../node_modules/fontfaceobserver/fontfaceobserver.js
      include:js ../node_modules/fg-loadcss/loadCSS.js
      include:js default.head.js
  body.Body#top
    if !isHome
      header.Body-part.Body-part--constrain.Header(role="banner")
        a.Header-name.Link.Link--primary.Link--back(href="/")= site.author
    main.Article(role="main")
      .Article-section
        if !hide_header
          .Article-header
            h1.Article-h1= title
            if description
              p.Article-paragraph.Article-description= description
            if isArticle
              p.Article-paragraph
                time.Article-time(datetime=date, pubdate)= dateFormat(date)
            if isWork
              p.Article-paragraph
                if client
                  span.Article-client
                    a.Link(href=clientLink)= client
                time.Article-time(datetime=startDate)= startDateLabel
                |  &ndash; 
                time.Article-time(datetime=endDate, pubdate)= endDateLabel
            if isTalk
              p.Article-paragraph
                | Presented #[time.Article-time(datetime=date, pubdate)= dateFormat(date)] at 
                if locationLink
                  | #[a.Link(href=locationLink)= location]
                else
                  != location
                | .
            if deckId
              figure.Figure.Figure--deck
                script(async, class="speakerdeck-embed" data-id=deckId data-ratio=deckRatio src="//speakerdeck.com/assets/embed.js")
                figcaption
                  ul.Nav
                    li.Nav-item
                      a.Link.Link--primary(href=deckLink) View slide deck
                    if recordingLink
                      li.Nav-item
                        a.Link.Link--primary(href=recordingLink) View recording
        if ignore_auto_md
          != contents
        else
          md
            != contents
    if isCollection
      footer.Body-part.Body-part--constrain.Body-part--divider
        ul.Nav
          li.Nav-item
            a.Link.Link--primary(href="/") Home
          li.Nav-item
            if(isWork)
              a.Link.Link--primary(href="/#work") More Work
            if(isArticle)
              a.Link.Link--primary(href="/#articles") More Articles
            if(isTalk)
              a.Link.Link--primary(href="/#talks") More Talks
    script
      include:js default.body.js
