doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      http-equiv="X-UA-Compatible"
      content="IE=edge")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0")
    meta(
      name="description"
      content=site.description)
    meta(
      name="author"
      content=site.author)
    - var titles = hide_title ? [] : [title];
    if client
      - titles.push(client);
    - titles.push(site.author);
    - var pageTitle = titles.join(' &middot; ');
    title !{pageTitle}
    script
      include:js ../node_modules/fontfaceobserver/fontfaceobserver.js
      include:js ../node_modules/fg-loadcss/loadCSS.js
      include:js default.head.js
  body.Body#top
    header.Body-part.Header
      a.Header-name(href="/")= site.author
      p.Header-specialties
        each speciality in site.specialties
          span.Header-specialty= speciality
          | 
    nav.Body-part.Nav
      each page in collections.pages
        if page.order
          - var url = '/' + (page.path || '');
          - var isSelf = page.path === path;
          - var isInCollection = contains(collection, page.index);
          - var cn = { 'Nav-item--active': isSelf || isInCollection };
          a.Nav-item(href=url, class=cn)= page.title
    article.Body-part.Body-part--divide.Article
      - var isArticle = contains(collection, 'articles');
      - var isWork = contains(collection, 'work');
      - var isCollection = isArticle || isWork;
      - var cn = { 'Article-h1--center': isCollection };
      h1.Article-h1(class=cn)= title
      if date
        p.Article-paragraph
          time.Article-time(datetime=date, pubdate)= dateFormat(date)
      if endDate
        p.Article-paragraph
          if client
            span.Article-client
              a(href=clientLink)= client
          time.Article-time(datetime=startDate)= startDateLabel
          |  &ndash; 
          time.Article-time(datetime=endDate, pubdate)= endDateLabel
      != contents
      if isCollection
        - var collectionSingular = isArticle ? 'article' : 'work';
        - var collectionPlural = isArticle ? 'articles' : 'work';
        - var allLabel = ['All', collectionPlural].join(' ');
        - var allLink = isArticle ? '/' : '/work';
        footer.Article-footer.Pager
          .Pager-controls
            a.Button.Button--clear.Pager-top(href="#top") Back to top
            a.Button.Button--clear(href=allLink)= allLabel
          .Pager-paging
            if next
              - var pagerTitle = ['Previous', collectionSingular, 'published', next.endDateLabel].join(' ')
              a.Button.Button--clear.Pager-previous(
                href="/#{next.path}"
                title=pagerTitle)
                cite= next.title
            if previous
              - var pagerTitle = ['Next', collectionSingular, 'published', previous.endDateLabel].join(' ')
              a.Button.Button--clear.Pager-next(
                href="/#{previous.path}"
                title=pagerTitle)
                cite= previous.title
    footer.Body-part.Body-part--divide.Contact
      a.Button.Button--clear(href=site.elsewhere.Twitter, title="Follow me on Twitter") @#{site.twitter}
      a.Button.Button--clear(href="mailto:#{site.email}")=site.email
      a.Button.Button--clear(href="tel:#{site.phone_tel}")=site.phone
    script
      include:js default.body.js
